<section class="experience">
    <div class="content">
        <h1>Experience</h1>
        <ul>
            <li>
                <div class="experience-content hidden">
                    <h2>Company</h2>
                    <div class="experience-time">Jan - Jun 2016</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias debitis praesentium itaque veniam
                        dolorum cupiditate asperiores optio beatae, qui perferendis ipsam odit modi nemo natus corrupti
                        neque quos distinctio facilis?</p>
                </div>
            </li>
            <li>
                <div class="experience-content hidden">
                    <h2>Company</h2>
                    <div class="experience-time">Jul - Dec 2015</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quas, reiciendis quis sequi
                        voluptatem consectetur adipisci accusamus hic vel vero ea ad iure! Natus, ipsum, enim aspernatur
                        fugit voluptatibus similique?</p>
                </div>
            </li>
            <li>
                <div class="experience-content hidden">
                    <h2>Company</h2>
                    <div class="experience-time">Mar - Jun 2015</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quas, reiciendis quis sequi
                        voluptatem consectetur adipisci accusamus hic vel vero ea ad iure! Natus, ipsum, enim aspernatur
                        fugit voluptatibus similique?</p>
                </div>
            </li>
        </ul>
    </div>
</section>