<section class="experience">
  <div class="content">
    <h1>經歷</h1>
    <ul>
      <li>
        <div class="experience-content" :class=" {animation_01:active_01}">
          <h2>高明鐵企業股份有限公司</h2>
          <h3>軟體設計工程師</h3>
          <div class="experience-time">2021.10 - 2022.10</div>
          <p>替公司開發過兩個 Web 平台，皆是前後端分離架構來設計</p>
          <p>前端框架為 Vue 搭配 Tailwind 來設計</p>
          <p>
            後端框架用 ASP.NET Core 來製作 RESTful API ，並以 JWT 設計搭配
            OpenAPI 做控管
          </p>
        </div>
      </li>
      <li>
        <div class="experience-content" :class=" {animation_02:active_02}">
          <h2>僑光科技大學</h2>
          <h3>學生</h3>
          <div class="experience-time">2017 - 2021-06</div>
          <p>
            以組長兼程式撰寫的身分下，帶領一支團隊製作以台南旅遊巡導為主題的Web
            App
          </p>
          <p>
            參賽全臺大專院校的資服競賽，在「經濟與能源空間開放資料服務應用組」取得第一名佳績
          </p>
        </div>
      </li>
      <!-- <li>
                <div class="experience-content hidden">
                    <h2>Company</h2>
                    <div class="experience-time">Mar - Jun 2015</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati quas, reiciendis quis sequi
                        voluptatem consectetur adipisci accusamus hic vel vero ea ad iure! Natus, ipsum, enim aspernatur
                        fugit voluptatibus similique?</p>
                </div>
            </li> -->
    </ul>
  </div>
</section>
